<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test1">
		<parameter name="BrowserName" value="Firefox" />
		<parameter name="UserName" value="demo" />
		<parameter name="Passcode" value="PASSWORD" />

		<!-- <groups>
			<run>
				<include name="Car"></include>
			</run>
		</groups> -->
		<classes>
			<class
				name="com.testng.demo.TestNGDemo.parameters.ParametersTesting" />
			<!-- <class name="com.testng.demo.TestNGDemo.anno.MyTestClass1"/> <class 
				name="com.testng.demo.TestNGDemo.groups.GroupDemo"/> -->
		</classes>
	</test> <!-- Test -->
	<!-- <test thread-count="5" name="Test2"> <classes> <class name="com.testng.demo.TestNGDemo.anno.MyTestClass1"/> 
		<class name="com.testng.demo.TestNGDemo.anno.MyTestClass2"/> </classes> </test> --> <!-- Test -->
</suite> <!-- Suite -->
